<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="blendobot-github" value="https://nuget.pkg.github.com/BlendoBot/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<blendobot-github>
			<add key="Username" value="YOUR_GITHUB_PAT_HERE" />
			<add key="ClearTextPassword" value="YOUR_GITHUB_PAT_HERE" />
		</blendobot-github>
	</packageSourceCredentials>
</configuration>